body {
	position: relative;
	background: #040507;
}

.main {
	position: fixed;
	left: 0.5%;
	top: 0;
	width: 99%;
	height: 100%;
	background: url(../img/bodybg.png) no-repeat top center;
	overflow: hidden;
}

.e-left {
	position: relative;
	height: 100%;
	float: left;
	background: rgba(0, 0, 0, 0.1);
	z-index: 299;
	display: flex;
	display: -webkit-flex;
	margin-left: 0px;
	flex-direction: column;
}

.chartbox {
	width: 100%;
	position: relative;
}

.l-logo {
	height: auto;
	text-align: center;
	padding-top: 12px;
	flex: auto;
	-webkit-flex: auto;
}

.l-logo img {
	width: 100%;
	height: auto;
}

.e-center {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	float: left;
	z-index: 199;
	background: url(../img/bodybg.png) no-repeat center center;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
}

.e-right {
	position: relative;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	float: right;
	z-index: 299;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
}

.clearfix:after {
	content: "\0020";
	line-height: 0;
	font-size: 0;
	display: block;
	clear: both
}

.clearfix {
	clear: both;
	visibility: visible
}


/*******/

.pc-leftsidemenu {
	width: 30px;
	height: 30px;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 50%;
	right: -15px;
	margin-top: -15px;
	text-align: center;
	line-height: 30px;
}


/***right****/

.alarm {
	height: 56px;
	text-align: center;
	margin-top: 12px;
	background: url(../img/gzz/alarm.png) no-repeat center center;
	color: #ffc000;
	line-height: 56px;
	font-size: 22px;
	flex: auto;
	-webkit-flex: auto;
}

.alarm div {
	float: left;
}

.right-body,.left-body {
	position: relative;
	height: 100%;
	margin-top: 12px;
	flex: auto;
	-webkit-flex: auto;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
}

.alarm-box {
	flex: 1;
	-webkit-flex: 1;
	border: solid 1px #02507e;
	padding: 10px 12px;
	margin-bottom: 12px;
}

.alarm-box:last-child {}

.pc-rightsidemenu {
	width: 30px;
	height: 30px;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 50%;
	left: -15px;
	margin-top: -15px;
	text-align: center;
	line-height: 30px;
}

/******中间*********/

.e-headtitle {
	height: 90px;
	margin: auto;
	text-align: center;
}

.e-headtitle div {
	display: inline-block;
	color: #00acf8;
	font-size: 22px;
	margin: 0 10px;
	line-height: 90px;
}

.time {
	vertical-align: -35px;
}

.time p.time-hour {
	color: #FFFFFF;
	font-size: 60px;
	line-height: 60px;
	text-align: center;
	margin: 0;
}

.time p.time-date {
	color: #FFFFFF;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	margin: 0;
}

.e-centermap {
	height: 80%;
	background-size: auto 95%;
	margin: auto;
	position: relative;
}

.e-centerbottom {
	height: 100px;
	background: url(../img/gzz/cbottom.png) center center no-repeat;
	margin: auto;
}


@media screen and (max-width: 1756px) {
	.e-headtitle div.ec-line {
		display: none;
	}
	.alarm-box {
		padding: 5px 12px;
	}
}

@media screen and (max-width: 1367px) {
	.e-headtitle div.ec-line {
		display: none;
	}
	.e-headtitle div.time .time-hour {
		font-size: 42px;
	}
	.e-headtitle div.time .time-date {
		font-size: 18px;
	}
	.alarm {
		height: 40px;
		line-height: 40px;
		font-size: 20px;
	}
}

@media screen and (max-width: 1024px) {
	.e-headtitle div.ec-line {
		display: none;
	}
	.menu-title img {
		margin-left: 10px;
	}
	.menu_list {
		width: 85%;
	}
	.e-headtitle div {
		font-size: 18px;
	}
	.time {
		vertical-align: -19px;
	}
	.e-headtitle div.time .time-hour {
		font-size: 38px;
		line-height: 48px;
	}
	.e-headtitle div.time .time-date {
		font-size: 16px;
		line-height: 20px;
	}
	.e-centermap {
		background-size: auto 95%;
	}
	.e-centerbottom {
		background-size: 80% auto;
	}
	.alarm-box {
		overflow-y: scroll;
	}
}

@media screen and (max-width: 960px) {}