
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1483927183924'); /* IE9*/
  src: url('iconfont.eot?t=1483927183924#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1483927183924') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1483927183924') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1483927183924#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coordinate:before { content: "\e727"; }

.icon-electricquantity2dianchidianliang:before { content: "\e6e8"; }

.icon-dingwei1:before { content: "\e63a"; }

.icon-get-into:before { content: "\e61d"; }

.icon-shuangjiantou:before { content: "\e70c"; }

.icon-lingdang:before { content: "\e615"; }

.icon-double-left:before { content: "\e609"; }

